---
import SectionLayout from '../../layouts/SectionLayout.astro';

const title = "Drafts";
const section = "draft";
---
<SectionLayout title={title} section={section}>
    <p>Draft listing goes here. Once I have build environments sorted, these
    will only be built in the dev environment.</p>
</SectionLayout>