---
// Component Imports
import Tour from '../components/Tour.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

let title = 'My Astro Site';

---
<BaseLayout title={title}>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
            </div>
        </header>
        <section>
            <p>All the interesting stuff is going on in <a href="/draft/">Drafts</a></p>
        </section>
        <footer>
            <p>Created with enthusiastic flailing by
                <a href="https://randomgeekery.org/">Brian Wisti</a>
                using <a href="https://astro.build">Astro</a>
            </p>
        </footer>
    </main>
</BaseLayout>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: min(100%, 68ch);
    }
</style>
