---
import BaseLayout from './BaseLayout.astro';

const { title } = Astro.props;
---
<BaseLayout title={title}>
    <main>
        <header>
            <h1>{title}</h1>
        </header>
        <slot>
            <p>Article content goes here.</p>
        </slot>
    </main>
</BaseLayout>