---
const { title } = Astro.props;
---
<html>
    <head>
        <title>{title} | Random Geekery</title>
        <link rel="stylesheet" href="/style/global.css">
        <link rel="stylesheet" href="/style/home.css">
    </head>
    <body>
        <header>
            <a href="/">Home</a> |
            <a href="/adoc">Adoc test</a>
        </header>
        <slot>
            <p>Main page content goes here.</p>
        </slot>
    </body>
</html>